.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-container > * {
  margin: 16px;
}

.pdf-container > a {
  font-size: 16pt;
}

.red {
  color: red;
  text-align: center;
}
